xml05/case3/customers.dtd

<!--
   New Perspectives on XML, 3rd Edition
   Tutorial 5
   Case Problem 3

   Customer List DTD

   Filename:         customers.dtd
   Supporting Files: 
-->

<!ELEMENT customers (customer)*>

<!ELEMENT customer (order)>
<!ATTLIST customer id CDATA #IMPLIED>

<!ELEMENT order (qty, date, amount)>
<!ATTLIST order orderid CDATA #IMPLIED>

<!ELEMENT qty (#PCDATA)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT amount (#PCDATA)>



